
#slide { height:200px; width:700px; position:relative; overflow:hidden; z-index:2}
.slider {
	width:800px;
	margin:0 auto;
	position:relative;
	z-index:2
}
.items {
	display:none;
}
.pagination, .prev, .next, .play, .paused, .progbar, .numStatus {display:none;}
.banner{
	width:300px;
	overflow:hidden;
	position: relative;
	top:20px;
	color:#fff;
	top: -200px;
	left: 0px;
	z-index:15;
	background-color: rgba(0, 0, 0, 0.7);
	padding:0px;
}
	.banner span {
		display:block;
		padding:10px;
		font-size: 13px;
	}
